.wrapper-content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.wrapper-link-content {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  min-width: 36rem;
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 820px) {
  .wrapper-link-content {
    min-width: auto;
    max-width: auto;
  }
}
.load-more-btn-content {
  min-width: 10rem;
  margin-left: auto;
  margin-right: auto;
}