.wrapper-comments-main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.wrapper-comments-main .signed-out-message {
  background-color: #2ecc71;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border: none;
  border-radius: 1rem;
  height: 2.5rem;
  font-size: 1.1rem;
  width: 30%;
  min-width: 12rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.wrapper-comments-main .signed-out-message h4 .link-signin {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 520px) {
  .wrapper-comments-main .signed-out-message {
    font-size: 1rem;
  }
}
.wrapper-comments-main .wrapper-commentbox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
  padding-bottom: 1rem;
}
.wrapper-comments-main .wrapper-commentbox.wrapper-commentbox-main textarea {
  min-width: 100%;
  min-height: 6rem;
  font-size: inherit;
  padding: 0.5rem;
  border-radius: 1rem;
  resize: none;
  border: 1px solid #ddd;
  background-color: white;
}
.wrapper-comments-main .wrapper-commentbox.wrapper-commentbox-main textarea:focus {
  border: 1px solid #ddd;
  outline: 2px solid #2ecc71;
  outline-offset: 0.3rem;
}
.wrapper-comments-main .wrapper-commentbox.wrapper-commentbox-main .btn-submit {
  width: 10%;
  min-width: 5rem;
  cursor: pointer;
}
.wrapper-comments-main .wrapper-commentbox.wrapper-commentbox-main .btn-submit.btn-submit-send {
  background-color: #2ecc71;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border: none;
  border-radius: 1rem;
  height: 2.5rem;
  font-size: 1.1rem;
}
.wrapper-comments-main .wrapper-commentbox.wrapper-commentbox-main .btn-submit.btn-submit-send i {
  color: whitesmoke;
}
.wrapper-comments-main .wrapper-commentbox.wrapper-commentbox-main .btn-submit.btn-submit-send:hover {
  background-color: #28a45e;
  transition: transform 0.3s ease-out;
}

.wrapper-comment {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  position: relative;
}
.wrapper-comment .wrapper-commentbox {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 1rem;
  position: sticky;
  left: auto;
  height: auto;
  display: flex;
  background-color: whitesmoke;
  flex-wrap: wrap;
  bottom: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.wrapper-comment .wrapper-commentbox .commentbox-reply-to {
  font-weight: 600;
  width: 100%;
}
.wrapper-comment .wrapper-commentbox .wrapper-commentbox-tools {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding-bottom: 0.3rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.wrapper-comment .wrapper-commentbox .wrapper-commentbox-tools textarea {
  min-width: 100%;
  min-height: 6rem;
  font-size: inherit;
  padding: 0.5rem;
  border-radius: 1rem;
  resize: none;
  border: 1px solid #ddd;
}
.wrapper-comment .wrapper-commentbox .wrapper-commentbox-tools textarea:focus {
  border: 1px solid #ddd;
  outline: 2px solid #2ecc71;
  outline-offset: 0.3rem;
}
.wrapper-comment .wrapper-commentbox .wrapper-commentbox-tools .btn-submit-send {
  background-color: #2ecc71;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border: none;
  border-radius: 1rem;
  height: 2.5rem;
  font-size: 1.1rem;
  width: 10%;
  min-width: 5rem;
  cursor: pointer;
}
.wrapper-comment .wrapper-commentbox .wrapper-commentbox-tools .btn-submit-send i {
  color: whitesmoke;
}
.wrapper-comment .wrapper-commentbox .wrapper-commentbox-tools .btn-submit-send:hover {
  background-color: #28a45e;
  transition: transform 0.3s ease-out;
}
.wrapper-comment .wrapper-comment-username {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.wrapper-comment .wrapper-comment-username img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.wrapper-comment .wrapper-comment-username .link-username-comment {
  text-decoration: none;
  color: inherit;
}
.wrapper-comment .wrapper-comment-username .link-username-comment:hover {
  text-decoration: underline;
}
@media screen and (max-width: 620px) {
  .wrapper-comment .wrapper-comment-username .link-username-comment {
    font-size: 0.9rem !important;
  }
  .wrapper-comment .wrapper-comment-username span {
    font-size: 0.9rem;
  }
}
.wrapper-comment .wrapper-actual-topic {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color: #333;
  padding-left: 0.42rem;
}
.wrapper-comment .wrapper-comment-chevron {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}
.wrapper-comment .wrapper-comment-chevron .wrapper-upvotes {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  padding: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  color: #333;
  font-size: 0.95rem;
}
.wrapper-comment .wrapper-comment-chevron .wrapper-upvotes:hover {
  background-color: #eee;
}

.wrapper-comment-nested {
  margin-left: 2rem;
}
.wrapper-comment-nested .wrapper-comment-username {
  padding-top: 0.5rem;
}